
--- esp function --- 

function esp()

    local players = game:GetService("Players"):GetChildren()
    local RunService = game:GetService("RunService")
    local highlight = Instance.new("Highlight")
    highlight.Name = "Highlight"
    
    for i, v in pairs(players) do
        repeat wait() until v.Character
        if not v.Character:FindFirstChild("HumanoidRootPart"):FindFirstChild("Highlight") then
        local highlightclone = highlight:Clone()
        highlightclone.Parent = v.Character:FindFirstChild("HumanoidRootPart")
        highlightclone.Adornee = v.Character
        highlightclone.DepthMode = Enum.HighlightDepthMode.AlwaysOnTop
        highlightclone.Name = "Highlight"
    end
    end
    
    game.Players.PlayerAdded:Connect(function(player)
        repeat wait() until player.Character
        if not player.Character:FindFirstChild("HumanoidRootPart"):FindFirstChild("Highlight") then
            local highlightclone = highlight:Clone()
            highlightclone.Adornee = player.Character
            highlightclone.Parent = player.Character:FindFirstChild("HumanoidRootPart")
            highlightclone.DepthMode = Enum.HighlightDepthMode.AlwaysOnTop
            highlightclone.Name = "Highlight"
        end
    end)
    
    game.Players.PlayerRemoving:Connect(function(playerRemoved)
        playerRemoved.Character:FindFirstChild("HumanoidRootPart").Highlight:Destroy()
    end)
    
    RunService.Heartbeat:Connect(function()
        for i, v in pairs(players) do
            repeat wait() until v.Character
            if not v.Character:FindFirstChild("HumanoidRootPart"):FindFirstChild("Highlight") then
                local highlightclone = highlight:Clone()
                highlightclone.Adornee = v.Character
                highlightclone.Parent = v.Character:FindFirstChild("HumanoidRootPart")
                highlightclone.DepthMode = Enum.HighlightDepthMode.AlwaysOnTop
                highlightclone.Name = "Highlight"
            end
        end
    end)
    
    
    end





----- go away


local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()

local Window = Library.CreateLib("uncle aidens hub", "DarkTheme")

local LoginTab = Window:NewTab("Login")
local loginUser = LoginTab:NewSection("Login")






--- login page ---

local whitelisted = {
    "foxboy0529",
    "A_Yolk"
}

loginUser:NewTextBox("Key:", "enter the key", function(txt)
	for i, v in pairs(whitelisted) do
        local players = game:GetService("Players")
        if players.Name == v then
            openUi()
        elseif players.Name ~= v then
            players:Kick("not whitelisted nerd!")
        end
    end
end)


-- varibles ---
function openUi()

local Tab1 = Window:NewTab("general")
local Tab2 = Window:NewTab("player")
local Tab3 = Window:NewTab("combat")

local Section1 = Tab1:NewSection("random")
local Section1a = Tab1:NewSection("open/close")

local section2 = Tab2:NewSection("player")
local section2a = Tab2:NewSection("teleport")

local section3 = Tab3:NewSection("combat")

----------tab 1------





Section1:NewButton("tp tool", "its in the name idiot", function() ---tp tool button 

	local mouse = game.Players.LocalPlayer:GetMouse()
	local tool = Instance.new("Tool")
	tool.RequiresHandle = false
	tool.Name = "tp tool"
	tool.Activated:connect(function()
		local pos = mouse.Hit+Vector3.new(0,2.5,0)
		pos = CFrame.new(pos.X,pos.Y,pos.Z)
		game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame = pos
	end)
	tool.Parent = game.Players.LocalPlayer.Backpack

end)

Section1:NewButton("inf yield", "inf yield admin", function() -- inf yield admin
	loadstring(game:HttpGet('https://raw.githubusercontent.com/EdgeIY/infiniteyield/master/source'))()
end)

Section1:NewButton("remote spy", "spy remote?", function() -- inf yield admin
	loadstring(game:HttpGet("https://raw.githubusercontent.com/aiden-wc/spy-script/main/spyscript"))()
end)

---

Section1a:NewKeybind("toggle gui ", "keycode = LeftAlt", Enum.KeyCode.LeftAlt, function()
	Library:ToggleUI()
end)

-------end tab 1

---- tab 2


section2:NewSlider("speed", "change plr speed", 500, 16, function(s) -- 500 (MaxValue) | 0 (MinValue)
	game.Players.LocalPlayer.Character.Humanoid.WalkSpeed = s
end)

section2:NewSlider("jump power", "change plr jump power", 1000, 50, function(s) -- 500 (MaxValue) | 0 (MinValue)
	game.Players.LocalPlayer.Character.Humanoid.JumpPower = s
end)

section2:NewButton("heal yourself", "gives you max health", function() -- heals
	game.Players.LocalPlayer.Character.Humanoid.Health = 100
end)



section2:NewDropdown("Team Change", "change yout team", {game.Teams.Name}, function(currentOption)
	game.Players.LocalPlayer.Team = currentOption.Name
end)

--

section2a:NewTextBox("plr name:", "tp to a player", function(txt)
	local function teleportToPlayer(player)
		local character = player.Character
		local humanoidRootPart = character:WaitForChild("HumanoidRootPart")
		game.Players.LocalPlayer.Character.HumanoidRootPart.CFrame = humanoidRootPart.CFrame
	end

	local function teleportToPlayerByName(playerName)
		local player = game.Players:FindFirstChild(playerName)
		if player then
			teleportToPlayer(player)
		end
	end

	local playerName = txt
	teleportToPlayerByName(playerName)

end)


-- end tab 2

---- tab 3

--- esp function --


--- end of esp function ----

section3:NewToggle("esp", "higlights all the players in the game", function(state)
    if state then
        esp()
    else
        local players = game:GetService("Players"):GetChildren()
        for i, v in pairs(players) do
            v.Character:FindFirstChild("HumanoidRootPart").Highlight:Destroy()
        end
    end
end)

end
